#AssetsModalCon{

    &.main{
        position: relative;
    }

    height: 13rem;
    width: 11.5rem;
    background-color: $cardBg;
    border: 2px solid $lightBorder;
    border-radius: 10px;
    visibility: hidden;
    z-index: 1;
    padding: .5rem 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    display: none;

    &.bigger{
        width: 14rem;
        height: 17rem;
    }

    &::-webkit-scrollbar{
        display: none;
        visibility: hidden;
    }


    &.visible{
        visibility: visible;
        display: flex;
    }

    .cancelCon{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        padding: 0 1rem;

        .cancelBtn{
            width: 10px;
             cursor: pointer; 

        }
    }
}