#CountSelect{
    width: 5rem;
    height: 1.75rem;
    border: 2px solid $lightBorderActive;
    box-sizing: border-box;
    filter: blur(.8px);
    border-radius: 20px;
    margin-bottom: 4px;
    
}