#Inventory {
  height: 100%;
  width: 100%;
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .nav {
    position: absolute;
    margin-left: -4rem;
    margin-top: -8rem;
    display: flex;
    flex-direction: row;
    transform: rotate(90deg);
    justify-content: space-around;
    align-items: center;
    padding: 4px 1.5rem;
    width: 15rem;
    border-radius: 1000px;
    background: #323232;

    .navItem {
      font-family: "Righteous";
      font-weight: 400;
      font-size: 18px;
      color: $white;
      cursor: pointer;

      z-index: 1;
      padding: 4px 12px;
      background: transparent;
      transition: linear 1s ease-in;
      transition-delay: 0.1s;

      &.active {
        background: linear-gradient(
          180deg,
          #5a616a 0%,
          rgba(90, 97, 106, 0) 100%
        );
        border-radius: 1000px;
      }
    }
  }

  .content_area {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    margin: 0 4rem;

    .inventory_main_con {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 40vw auto;

      .left {
        display: flex;
        flex-wrap: wrap;
        max-height: 60vh;
        overflow-y: scroll;
        scrollbar-width: 0;
        row-gap: 1rem;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .right {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        .borderTop {
          height: 8px;
          width: 100%;
          background: linear-gradient(268.19deg, $gold 8.46%, #ffe680 102.44%);
          border-radius: 16px 16px 0px 0px;
        }

        .borderBottom {
          height: 8px;
          width: 100%;
          background: linear-gradient(268.19deg, $gold 8.46%, #ffe680 102.44%);
          border-radius: 16px 16px 0px 0px;
          transform: matrix(1, 0, 0, -1, 0, 0);
        }

        .mainArea {
          height: 100%;
          width: 100%;
          flex-grow: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          background: url("../../assets/icons/inventoryRightBg.png");
          padding: 2rem 2rem 2rem 0;
          display: flex;
          gap: 1rem;

          .noSelected {
            color: white;
          }

          .main_right {
            flex-grow: 1;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;

            .main_title {
              font-family: "Righteous";
              font-size: 25px;
              font-weight: 400;
              line-height: 31px;
              letter-spacing: 0em;
              text-align: left;
              color: white;
            }

            .main_content {
              font-family: "Gothic A1";
              font-size: 14px;
              font-weight: 400;
              line-height: 19px;
              letter-spacing: 0em;
              text-align: left;
              color: white;
            }

            .main_footer {
              display: flex;
              gap: 1rem;
            }
          }
        }
      }
    }
  }
}
