#NavNormalBadge{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    border-radius: 18px;
    background-color: $darkGrey;
    margin: 1rem 0;
    margin-left: 4px;
    cursor: pointer;

    .left{
        padding: 0 4px;

        .img{
            width: 23px;
        }
    
    }
    
    .right{
        margin-bottom: 8px;

        .badgeName{
            font-size: 12px;
            font-weight: 400;
            color: $white;
        }

    }
}
