#Nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: $grey1;
  z-index: 1;
  transition: all 0.5s ease-in-out;

  &.hide {
    margin-top: -4.5rem;
  }

  .navCon {
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .centerLogo {
      position: absolute;
      background: url("../../assets/images/navCenterLogoBg.svg");
      background-repeat: no-repeat;
      width: 300px;
      background-size: cover;
      height: 100%;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);

      .logoImg {
        position: relative;
        width: 14rem;
        top: 20%;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }

    .navItemsRowLeft {
      display: flex;
      flex-direction: row;
      position: relative;
      padding: 1rem 0;

      .valueBadge {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 0.5rem;
        background-color: #1f1f1f;
        border: 1px solid #b4b7bd;
        box-sizing: border-box;
        border-radius: 24.7693px;
        margin: 0 2px;

        .badgeT {
          font-size: 12px;
          font-weight: 400;
          color: $textDisabledLight;
        }

        .badgeV {
          font-size: 12px;
          font-weight: 700;
          color: $lightBorderActive;
        }
      }
    }

    .navItemsRowRight {
      display: flex;
      flex-direction: row;
      position: relative;
      padding: 0;
    }
  }
}
