$white: #fff;
$black: #000;
$grey1: #36343a;
$darkGrey: #1f1f1f;
$cardBg: #070c12;
$lightBorder: #3a4a2d;
$textDisabled: #787878;
$textDisabledLight: #b4b7bd;
$lightBorderActive: #f9fc02;
$grey1d1d: #1d1d1d;
$brownBg: #251307;
$brownBorder: #a86248;
$brownText: #a86248;
$activeSelect: #3c3a41;
$red: #f00001;
$gold: #f3ba09;
