$white: #fff;
$black: #000;
$grey1:#36343A;
$darkGrey: #1F1F1F; 
$cardBg: #070C12;
$lightBorder: #3A4A2D;
$textDisabled: #787878;
$textDisabledLight: #B4B7BD;
$lightBorderActive: #F9FC02;
$grey1d1d: #1D1D1D;